/* Koda za "Coming Soon" pop-up */

#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: top;
  }


  #popupContent {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #closePopupBtn {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #closePopupBtn:hover {
      background-color: #4da8e1;
  }

  #showPopupLink {
    display: inline-block;
    padding: 10px 15px; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }

body.popup-open {
   overflow: hidden;
}

body.blur {
  filter: blur(5px);
  pointer-events: none;
  z-index: 1;
}

/* Koda za "Kontakt" obrazec */

#contactform {
    align-self: center;
    }

    .formcontainer {
      text-align: center;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: flex-start; /* Align items at the top */
  }
  
  .border-box {
      display: inline-block;
      padding: 20px;
      width: 550px;
      height: 500px;
      border: 5px solid #333; /* Set your desired border color */
      border-radius: 30px; /* Set the border radius for slightly curved corners */
      background-color: #333; /* Set your desired background color inside the border */
  }
  
  form input,
  form textarea {
      width: calc(100% - 20px); /* Adjusted width with a bit of padding on each side */
      padding: 10px; /* Increased padding for better readability */
      height: 40px; /* Increased height to make input areas bigger */
     
      margin-top: 50px;
  
/*CSS za vse stranske nav skupine razen za glavno */

.seznamvsebin {
  display: inline-block;
  vertical-align: top;
  width: calc(20% - 4px); /* Adjust width to accommodate border */
  box-sizing: border-box;
  padding: 10x;
  margin: 45px;
  border: 3px solid #000; /* Border thickness */
  height: 750px; /* Set desired height */
  /* Additional styling for seznamvsebin if needed */
  background-color: #f2f2f2;
  
}

.seznamvsebin nav {
    justify-content: center;
    padding: 50px;

} 

.seznamvsebin nav a {
      display: inline-block;
      padding: 10px 10px;
      color: #000000;
      text-align: center;
      text-decoration: none;
      margin-bottom: 5px;
      border: 2px, transparent;
      border-radius: 5px; 
      transition: linear, border 0.1s linear; 
      font-weight: bold;
}


.seznamvsebin nav a:hover {
    background-color: #e0e0e0;
    border: 2px solid #000000
}

/* Random CSS */


