body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.maintenance-container {
    text-align: center;
    position: absolute;
    top: 60%; /* Move the container further down */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    margin-top: 450px;
}


h1 {
    font-size: 1cm;
}

p {
    font-size: 1.2em;
}

#countdown {
    font-size: 1.5em;
    margin-top: 20px;
}

#maintenanceobvestilo {
    font-size: 15px;
}

img {
    position: absolute;
    top: 70%; /* Move the image further down */
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}
