body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.maintenance-container {
    text-align: center;
    position: absolute;
    top: 55%; /* Adjust the vertical position of the container */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}


h1 {
    font-size: 1cm;
}

p {
    font-size: 1.2em;
}

#countdown {
    font-size: 1.5em;
    margin-top: 20px;
}

#maintenanceobvestilo {
    font-size: 15px;
}

img {
    position: absolute;
    top: 30%; /* Adjust the vertical position of the image */
    left: 50%;
    transform: translateX(-50%);
    padding: 0; /* Remove excessive padding */
}
