body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.maintenance-container {
    text-align: center;
    position: absolute;
    top: 50%; /* Align to the vertical center */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
}


h1 {
    font-size: 1cm;
}

p {
    font-size: 1.2em;
}

#countdown {
    font-size: 1.5em;
    margin-top: 20px;
}

#maintenanceobvestilo {
    font-size: 15px;
}

img {
    position: absolute; /* Change position to absolute */
    top: 50px; /* Adjust top position */
    left: 50%; /* Align to the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}
