.settingsSelector {
    display: inline-block;
    margin-top: 70px;
    margin-left: 50px;
  }
  
  .settingsSelector a {
    font-size: 16px;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  #selectedSetting {
    background: #9a9a9a, ;
  }