.settingsSelector {
    display: grid;
    margin-top: 70px;
    margin-left: 50px;
    width: 
  }
  
  .settingsSelector a {
    font-size: 18px;
    margin: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }

  #selectedSetting {
    background: #9a9a9a;
    border-radius: 25px;
    padding: 5px 15px; /* Increase horizontal space inside */
  }
  