body {
    background-color: #242424;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.gif-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em;
    }
}