/* Koda za "Coming Soon" pop-up */

#popupContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: top;
  }

  #popupContent {
    max-width: 400px;
    margin: 0 auto;
  }
  
  #closePopupBtn {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #closePopupBtn:hover {
      background-color: #4da8e1;
  }

  #showPopupLink {
    display: inline-block;
    padding: 10px 15px; 
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }

body.popup-open {
   overflow: hidden;
}

.popup-open .blur-container {
  filter: blur(5px); /* Apply blur effect only when popup is open */
  pointer-events: none;
}

#maintenancePopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 999;
}

#maintenancePopupContent {
  max-width: 400px;
  margin: 0 auto;
}

#closeMaintenancePopupBtn {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#closeMaintenancePopupBtn:hover {
  background-color: #4da8e1;
}

/* Koda za "Kontakt" obrazec */

#contactform {
    align-self: center;
    }

    .formcontainer {
      text-align: center;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: flex-start; /* Align items at the top */
  }
  
  .border-box {
      display: inline-block;
      padding: 20px;
      width: 550px;
      height: 500px;
      border: 5px solid #333; /* Set your desired border color */
      border-radius: 30px; /* Set the border radius for slightly curved corners */
      background-color: #333; /* Set your desired background color inside the border */
  }

  form input,
form textarea {
    width: calc(100% - 40px); /* Adjusted width with a bit of padding on each side */
    padding: 10px; /* Increased padding for better readability */
    margin-bottom: 5px; /* Increased spacing between input areas */
    margin-top: 25px; /* Move input areas slightly lower */
    height: 40px; /* Increased height to make input areas bigger */
}

form select{
width: calc(100% - 40px); /* Adjusted width with a bit of padding on each side */
padding: 10px; /* Increased padding for better readability */
margin-bottom: 5px;
margin-top: 20px; /* Move input areas slightly lower */
height: 40px; /* Height of input areas */
border: 1px solid #ccc; /* Border style */
border-radius: 5px; /* Border radius */
font-size: 16px; /* Font size */
}

form textarea {
  height: 120px;
}
  
/* Form Submit Button Styles */

/* Your existing CSS code */
/* Koda za "Coming Soon" pop-up */

#popupContainer {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: top;
}


#popupContent {
  max-width: 400px;
  margin: 0 auto;
}

#closePopupBtn {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#closePopupBtn:hover {
    background-color: #4da8e1;
}

#showPopupLink {
  display: inline-block;
  padding: 10px 15px; 
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

body.popup-open {
 overflow: hidden;
}

body.blur {
filter: blur(5px);
pointer-events: none;
z-index: 1;
}

/* Koda za "Kontakt" obrazec */

#contactform {
  align-self: center;
}

.formcontainer {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
}

.border-box {
  display: inline-block;
  padding: 20px;
  width: 550px;
  height: 500px;
  border: 5px solid #333; /* Set your desired border color */
  border-radius: 30px; /* Set the border radius for slightly curved corners */
  background-color: #333; /* Set your desired background color inside the border */
}

form input,
form textarea {
  width: calc(100% - 40px); /* Adjusted width with a bit of padding on each side */
  padding: 10px; /* Increased padding for better readability */
  margin-bottom: 5px; /* Increased spacing between input areas */
  margin-top: 25px; /* Move input areas slightly lower */
  height: 40px; /* Increased height to make input areas bigger */
}

form select{
width: calc(100% - 40px); /* Adjusted width with a bit of padding on each side */
padding: 10px; /* Increased padding for better readability */
margin-bottom: 5px;
margin-top: 20px; /* Move input areas slightly lower */
height: 40px; /* Height of input areas */
border: 1px solid #ccc; /* Border style */
border-radius: 5px; /* Border radius */
font-size: 16px; /* Font size */
}

form textarea {
height: 120px;
}

/* Combined CSS for Blob Button */

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
  margin-top: 2 0px;
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 150px;
  margin-bottom: 40px;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #0505A9;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505A9;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 30%;
  height: 100%;
  background: #0505A9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

/* Define the keyframes for the pulse effect */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7); /* Initial box shadow color, adjust to match button color */
  }
  50% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0); /* Intermediate box shadow color */
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); /* Final box shadow color */
  }
}

/* Apply the animation to the button when it's clicked or focused */
.blob-btn:active, .blob-btn:focus {
  animation: pulse 0.3s ease-in-out; /* Adjust the duration to control the pulse speed */
}

@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.5);
  }
}

/* CSS za uro */

.clock {
  top: 50
  text-align: center;
  font-size: 3em;
}

/*CSS za vse stranske nav skupine razen za glavno */

.seznamvsebin {
  display: inline-block;
  vertical-align: bottom;
  width: calc(20% - 4px); /* Adjust width to accommodate border */
  box-sizing: border-box;
  margin: 40px;
  border: 3px solid #000; /* Border thickness */
  height: 750px; /* Set desired height */
  /* Additional styling for seznamvsebin if needed */
  background-color: #f2f2f2;
  
}

.seznamvsebin nav {
    justify-content: center;
    padding: 30px;

} 

.seznamvsebin nav a {
      display: inline-block;
      padding: 5px 10px;
      color: #000000;
      text-align: center;
      text-decoration: none;
      margin-bottom: 5px;
      border: 2px, transparent;
      border-radius: 5px; 
      transition: linear, border 0.1s linear; 
      font-weight: bold;
}


.seznamvsebin nav a:hover {
    background-color: #e0e0e0;
    border: 2px solid #000000
}

.NoviceContent {
  float: right; /* Align to the right */
  width: calc(80% - 250px); /* Adjusted width */
  box-sizing: border-box;
  margin-top: 100px;
}

.NoviceContent p {
  margin-bottom: 20px;
}

/* Pravila Obrazca CSS */

.pravilaobrazca {
  height: 630px;
}

.pravilaobrazca_opozorilo {
  margin-top: 275px; /* Keeps this div at the bottom */
  color: #666; /* Change text color if desired */
}

/* Random CSS */

/* CSS for the admin credits list */

.creditscontainer {
  display: flex;
  flex-wrap: wrap;
}

.creditslist {
  flex: 1;
  margin: 10px;
  padding: 0;
  list-style-type: none;
}

.creditslist li {
  margin-bottom: 5px;
}


