* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111; /* Dark background color for body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height for the body */
    overflow: hidden; /* Prevent scrollbars */
}

#gameCanvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #111;
  z-index: 1;
}



